segmentation_threshold: 0.75
multiplier: 1.0
blur: 15
erode: 10
dilate: 8
fps: 60
virtual_video_device: "/dev/video2"
real_video_device: "/dev/video0"
average_masks: 1
mjpeg: False
internal_resolution: 0.4
layers:
  #- "empty": [["image", "images/star_wars.jpg"]]
  - input: [["blur", 10]]
  - "foreground": []
